<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twocities.pomodoro"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Pomodoro" >
        <activity
            android:name="com.twocities.pomodoro.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.twocities.pomodoro.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Pomodoro" >
        </activity>
        <activity
            android:name="com.twocities.pomodoro.TaskEditActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Pomodoro" >
        </activity>
        <activity
            android:name="com.twocities.pomodoro.PomodoroActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Pomodoro" >
        </activity>
        <activity
            android:name="com.twocities.pomodoro.AlarmActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Pomodoro" >
        </activity>
        <activity
            android:name="com.twocities.pomodoro.ScreenAlarmActivity"
            android:configChanges="screenSize|keyboardHidden|keyboard"
            android:theme="@style/ScreensaverActivityTheme" >
        </activity>
        <activity
            android:name="com.twocities.pomodoro.AlertActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard|navigation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="nosensor"
            android:showOnLockScreen="true"
            android:theme="@style/AlertFullScreenTheme" />
        <activity android:name="com.twocities.pomodoro.settings.SettingActivity" >
        </activity>

        <service android:name="com.twocities.pomodoro.TimerService" />

        <receiver
            android:name="com.twocities.pomodoro.AlarmReceiver"
            android:process=":remote" />

        <provider
            android:name="com.twocities.pomodoro.provider.TaskProvider"
            android:authorities="com.twocities.pomodoro.provider.Tasks"
            android:exported="false" >
            <grant-uri-permission android:pathPattern=".*" />
        </provider>
    </application>

</manifest>